@model DavetiyeApiUi.Models.Davetiye

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Davetiye</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="isim" class="control-label"></label>
                <input asp-for="isim" class="form-control" />
                <span asp-validation-for="isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
			<div>
				<label asp-for="gelmeDurumu" class="control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownListFor(x=> x.gelmeDurumu, new[] {new SelectListItem()
               {
                   Text="Evet Geliyorum",Value=bool.TrueString
               },
               new SelectListItem()
               {
                   Text="Hayir,Melasef Gelemiyorum,",Value=bool.FalseString
               }
               },"Katılma Durumunu Seçiniz",new {@class="form-control"}

				   )
                </div>

			</div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

